
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }

  canvas {
      border: 1px solid black;
      width: 640px;
      margin: 0 auto;
  }
  .lives{
    width: 640px;
    margin: 0 auto;
  }

  #game-screen {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
  }