
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
   /* background-image: url('./Imagenes/background/240_F_142009802_OvSdntG2pNiO5q3ii1wNjrCZ81sgpBB4.jpg');
    background-size: cover; 
    background-repeat: no-repeat;*/
  }

 .headerGame{
    /*background-image: url('./Imagenes/grifo/grifo-7.png');
    background-size: 1100px 778px, cover;
    background-repeat: no-repeat;
    width: 1100px;
    margin: 0 auto;*/
  }

  canvas {
      border: 1px solid black;
      width: 640px;
      margin: 0 auto;
  }
  .lives{
    width: 640px;
    margin: 0 auto;
  }

  .time{
    width: 640px;
    margin: 0 auto;
  }

  #game-screen {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
  }